.btn-limegreen {
	color: #fff;
	background-color: #8DBE26;
	border-color: #78A021
}
.btn-limegreen:hover, .btn-limegreen:focus, .btn-limegreen.focus, .btn-limegreen:active, .btn-limegreen.active, .open>.dropdown-toggle.btn-limegreen {
	color: #fff;
	background-color: #A3D635;
	border-color: #88B22C
}
.btn-limegreen:active, .btn-limegreen.active, .open>.dropdown-toggle.btn-limegreen {
	background-image: none
}
.btn-limegreen.disabled, .btn-limegreen[disabled], fieldset[disabled] .btn-limegreen, .btn-limegreen.disabled:hover, .btn-limegreen[disabled]:hover, fieldset[disabled] .btn-limegreen:hover, .btn-limegreen.disabled:focus, .btn-limegreen[disabled]:focus, fieldset[disabled] .btn-limegreen:focus, .btn-limegreen.disabled.focus, .btn-limegreen[disabled].focus, fieldset[disabled] .btn-limegreen.focus, .btn-limegreen.disabled:active, .btn-limegreen[disabled]:active, fieldset[disabled] .btn-limegreen:active, .btn-limegreen.disabled.active, .btn-limegreen[disabled].active, fieldset[disabled] .btn-limegreen.active {
	background-color: #B0CE6F;
	border-color: #9CBF52
}
.btn-limegreen .badge {
	color: #8AAA46;
	background-color: #fff
}